/* montserrat-regular - latin_cyrillic */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v18-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v18-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v18-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v18-latin_cyrillic-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - latin_cyrillic */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v18-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v18-latin_cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v18-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v18-latin_cyrillic-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* source-sans-pro-regular - latin_cyrillic */

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/source-sans-pro-v18-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/source-sans-pro-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/source-sans-pro-v18-latin_cyrillic-regular.woff") format("woff"), url("../fonts/source-sans-pro-v18-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/source-sans-pro-v18-latin_cyrillic-regular.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}

.main-container .cats-picture .form-managed-file {
  max-width: 25%;
}

.main-container .page-header {
  color: #2c2c2c;
  font-size: 36px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.main-container .foxywp-form {
  font-family: "Source Sans Pro", serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #8a8b8e;
}

.main-container .foxywp-form .page-header {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  font-family: "Montserrat", serif;
  text-align: center;
}

.main-container .foxywp-form .form-actions .btn-success {
  padding-inline: 10px;
  width: 160px;
  height: 50px;
  background-color: #d05715;
  border-radius: 25px;
  border: none;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}