.main-container {

  .cats-picture{
    .form-managed-file{
      max-width: 25%;
    }
  }


  .page-header {
    color: #2c2c2c;
    font-size: 36px;
    font-weight: 200;
    font-family: 'Montagu Slab', sans-serif;
  }

  .foxywp-form {
    font-family: 'Bebas', serif;
    font-size: 20px;
    color: #ad58ab;
    .page-header {
      color: #0d7ab8;
      font-size: 28px;
      font-weight: 200;
      font-family: 'Montagu', serif;
    }
    .form-wrapper{
      .btn-success{
        padding-inline: 10px;
      }
    }
  }
}

.js-quickedit-main-content {

  .col-sm-3 {
    background: url("../images/right.jpeg") center no-repeat ;
    background-size: contain;
    height: 400px;
  }

}
