.js-quickedit-main-content{
  .region-highlighted {

    .js-quickedit-page-title {
      color: #3a3a3a;
      font-size: 28px;
      font-weight: 200;
      font-family: 'Montagu Slab', sans-serif;
    }

  }

}

