.main-container {

  .cats-picture{
    .form-managed-file{
      max-width: 25%;
    }
  }


  .page-header {
    color: #2c2c2c;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
  }

  .foxywp-form {
    font-family: 'Source Sans Pro', serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #8a8b8e;

    .page-header {
      font-size: 30px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      color: #000000;
      font-family: 'Montserrat', serif;
      text-align: center;
    }
    .form-actions{
      .btn-success{
        padding-inline: 10px;
        width: 160px;
        height: 50px;
        background-color: #d05715;
        border-radius: 25px;
        border: none;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;

      }
    }
  }
}

.js-quickedit-main-content {

  //.col-sm-3 {
  //  background: url("../images/right.jpeg") center no-repeat ;
  //  background-size: contain;
  //  height: 400px;
  //}

}
